body {
	margin: 0%;
	background-color: #F6F6F6;
	width: 100%;
}

.textminingform {
	width: 100%;
}

#textAnalysisTab {
	
}

.textAnalysisTextArea {
	resize: none;
	margin: 3% 23% 2%;
}

.submit_button {
	display: inline-block;
	margin: 0% 3%;
	border-radius: 4px;
}

.reset_button {
	display: inline-block;
	margin: 0% 3%;
	border-radius: 4px;
}

.oneLineButtons {
	padding: 1% 44%;
	align-content: space-around;
}

table {
	/* 	border-collapse: collapse; */
	
}

#resultPanel {
	padding: 0% 2%;
}

#resultPanelRowOne div {
	float: left;
}

#numberOfTableDiv {
	width: 10%;
}

#wordCountTableDiv {
	width: 20%;
}

#posListTableDiv {
	width: 20%;
}

.numberOfTable {
	border: 1px solid black;
	margin: 1%;
}

.wordCountTable {
	border: 1px solid black;
	margin: 1%;
}

.posListTable {
	border: 1px solid black;
	margin: 1%;
}